<div class="mt-4 col-sm-12 col-lg-5 my-md-auto py-3">
    <h2>Log in</h2>
    <p>Logeate para continuar...</p>
    <form action="">
        {% csrf_token %}
        <div class="form-floating">
            <input type="email" class="form-control" id="InputCorreo" name="email" placeholder="Email" required>
            <label for="InputCorreo">Email</label>
        </div>
        <div class="form-floating">
            <input id="InputPass" type="text" class="form-control" name="password" placeholder="Password" required>
            <label for="InputPass">Password</label>
        </div>
        <button class="text-light w-100 btn btn-lg bg-purpura mt-2" type="submit">Log in</button>
        <div class="row mt-1">
            <a href="register" class="link-secondary"> No tienes cuenta Registrate!</a>
        </div>
    </form>
</div>
